html,body{
    margin: 0;
    padding: 0;
    .box{
        width: 220px;
        height: 120px;
        // 默认情况下，webpack 无法 处理 css 文件中的 url 地址，无论是图片还是字体库，只要是 URL 地址 ，都处理不了
        // 需要导入依赖包 cnpm i url-loader file-loader -D 
        background: url('../images/1.jpg');
        background-size: cover;
    }
}
li{
    font-size: 12px;
    line-height: 30px;
}